.row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 65px;
}

.add-stake {
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
  margin: 45px 0 0;
}

.spinner-center {
  align-self: center;
}

.add-stake h1 {
  font-size: 24px;
  font-weight: 600;
}

.field .error {
  color: #ff0000;
  font-size: 14px;
  font-weight: 600;
}

input[type="number"],
input[type="text"] {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  height: 60px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  outline: none;
  padding: 0 0 0 34px;
  appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]:focus,
input[type="text"]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stake-amount {
  margin: 10px 0;
}

.stake-amount .field-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stake-amount input {
  flex-grow: 1;
  margin: 0 0;
  touch-action: none;
}

.stake-amount label {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  margin: 0 20px;
}

.stake-amount .field-error {
  color: #ca3d3d;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px var(--border-radius);
}

.stake-amount svg {
  width: 41px;
  margin-right: 15px;
}

.lockup-period {
  text-align: center;
}

.lockup-period label {
  font-size: 20px;
  font-weight: 600;
  display: inline-flex;
}

.range-track {
  height: 4px;
  margin: 30px 0px 60px;
  background-color: #dfdfdf;
  border-radius: 1em;
}

.range-track-fill {
  height: 4px;
  position: absolute;
  background: #5469d4;
  border-radius: 1em;
}

.range-mark {
  height: 6px;
  width: 1px;
  top: 14px;
  position: absolute;
  background-color: #a3acb9;
}

.range-mark-label {
  position: absolute;
  top: 17px;
  width: unset;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  transform: translateX(-50%);
  background-color: #3c4257;
  border-radius: 5px;
  white-space: nowrap;
  padding: 2px 5px;
}

.range-mark-label-short {
  display: none;
}

.range-thumb {
  height: 20px;
  width: 20px;
  border: 1px solid #c1c9d2;
  background-color: #fff;
  border-radius: 50%;
}

/* Animation */
.range-thumb {
  transition: transform ease 150ms;
}

.range-track-fill {
  transition: width ease 150ms;
}
/* Animation end */

.summary h2 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.summary dl {
  padding: 30px 0 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
}

.summary dt {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
  font-family: "Average Sans", sans-serif;
  justify-self: center;
}

.summary dd {
  font-size: 24px;
  font-weight: 600;
  justify-self: center;
}

.summary .value.datetime .year {
  font-size: 1em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.buttons .button {
  flex: 1;
}

.input-field-wrap {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.input-max {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  height: unset;
  width: 157px;
  background-color: rgba(217, 217, 217, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.lmr-balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px var(--border-radius) 5px;
  font-family: "Average Sans", sans-serif;
  font-size: 16px;
}

.lmr-balance .title {
  color: #b6b6b6;
}

.lmr-balance .currency {
  font-size: 1em;
}

@media (max-width: 768px) {
  .stake-amount label {
    display: none;
  }

  .add-stake .summary dl {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-auto-flow: column;
    padding: 20px 0 0 0;
    margin-left: -30px;
    margin-right: -30px;
  }

  .summary dd {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .row {
    padding: 30px 30px;
  }
  .add-stake .buttons {
    gap: 20px;
  }
  .add-stake .buttons .button {
    flex-grow: 1;
  }

  .stake-amount input {
    width: 100%;
    padding-left: 15px;
    padding-right: 130px;
  }

  .stake-amount label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 15px 0 5px;
  }

  .range-mark-label {
    display: none;
  }

  .range-mark-label-short {
    display: block;
  }

  .input-max {
    width: unset;
    padding-left: 15px;
    padding-right: 15px;
  }

  .stake-amount .lmr-balance {
    flex-direction: column;
    align-items: flex-start;
  }

  .stake-amount {
    margin: 0;
  }

  .row-stake-amount {
    padding-bottom: 10px;
  }
}
